

body{
  background-color: black;
}
div{
  width: 900px;
}
div img{
  width: 50%;
  margin-left: 250px;
  border:solid white;
  border-width: 5px;
  margin-top: 50px;
}

div h1{
  color: azure;
  font-family:sans-serif;
  margin-left: 290px;
}

div p{
  color: aliceblue;
  font-family: Verdana;
  font-size: small;
  text-align: center;
  margin-left: 80px;
}